/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */
#root{
	
}
#playButton {          
    -fx-background-size: 28.0 28.0;   
}
#mediaView{
	
}
#imgSound {          
    -fx-background-size: 14.0 14.0;   
}
#resetButton{          
    -fx-background-size: 20.0 20.0;   
}
#mediaSlider{
    -fx-border-color: white;
    -fx-border-style: dashed;
    -fx-border-width: 2.0;
}